.slide{
    display: none;
    animation: fade 1s ease-out;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider{
    height: 100vh;
}

img{
    width: 100%;
    height: 100vh;
}

.btn{
    position:  absolute;
    top: 35%;
    font-size: 7rem;
    color: whitesmoke;
    padding: 1rem;    
    border-radius: 7px;
}

.btn.hover{
    background-color: lightgray;
    color: black;
}

.prev{
left: 2rem;
}

.next{
right: 2rem;
}
